*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(139, 141, 143);
    height: 900px;
}

h1{
    text-align: center;
   
}

.container1{
    display: flex;
    flex-basis: 300px;
  
    background-color: yellow;
    height: 700px;
    width: 1800px;
    margin-left: 50px;
    position: relative;
    top: 150px;
}

.box{
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    border: 1px solid black;
    
}

.box-1{
       /* flex-basis: 300px; */
       /* flex-shrink: 1; */
       order: 2;
       
}

.box-2{
  flex-grow: 1;
}

.container2{
    display: flex;
    flex-basis: 300px;
  
    background-color: yellow;
    height: 700px;
    width: 1800px;
    margin-left: 50px;
    position: relative;
    top: 150px;
}

.box-11{
     /* align-self: flex-start;  */
     /* align-self: flex-end; */
     /* align-self: center; */
     align-self: stretch;
}

