*{
    box-sizing: border-box;
    padding: 0;
}


.container{
    display: flex;
    /* flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column-reverse; */
    /* gap: 30px; */
    /* justify-content: center;
    align-items: center; */
    /* flex-wrap: wrap; */
    /* flex-flow: wrap-reverse; */
    height: 900px;
    margin: auto;
    width: 1000px;
    border: 1px solid black;
    margin-top: 20px;
}

.box{
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

#box-1{
    order: 1;
}
#box-2{
    flex-grow: 1;
    flex-shrink: 12;
}

#box-3{
    flex-basis: 2;
}

#box-5{
    align-content: center;
}


#box-7{
    align-self: flex-end;
}