*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(139, 141, 143);
    height: 900px;
}

h1{
    text-align: center;
   
}

.container1{
    display: flex;
    
    background-color: yellow;
    height: 700px;
    width: 1800px;
    margin-left: 50px;
    position: relative;
    top: 150px;
}

.box{
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    border: 1px solid black;
    
}

.container2{
    display: flex;
    flex-wrap: wrap;
    background-color: yellow;
    height: 700px;
    width: 1800px;
    margin-left: 50px;
    position: relative;
    top: 150px;
}


.container3{
    display: flex;
    flex-wrap: wrap-reverse;
    background-color: yellow;
    height: 700px;
    width: 1800px;
    margin-left: 50px;
    position: relative;
    top: 150px;
}


.container4{
    display: flex;
   flex-direction: row;
    background-color: yellow;
    height: 700px;
    width: 1800px;
    margin-left: 50px;
    position: relative;
    top: 150px;
}


.container5{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    height: 700px;
    width: 1800px;
    margin-left: 50px;
    position: relative;
    top: 150px;
}

.container6{
    display: flex;
    flex-direction: row-reverse;
    background-color: yellow;
    height: 700px;
    width: 1800px;
    margin-left: 50px;
    position: relative;
    top: 150px;
}

.container7{
    display: flex;
    flex-direction: column-reverse;
    background-color: yellow;
    height: 700px;
    width: 1800px;
    margin-left: 50px;
    position: relative;
    top: 150px;

}


.container8{
    display: flex;
    /* flex-flow: row wrap-reverse; */
    flex-wrap: nowrap;
    background-color: yellow;
    height: 700px;
    width: 1800px;
    margin-left: 50px;
    position: relative;
    top: 150px;

}


