*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    background-color: rgb(139, 141, 143);
    height: 900px;
}

h1{
    text-align: center;
   
}




.container1{
    display: flex;
    justify-content: center;
    /* justify-content: flex-end; */
    /* justify-content: flex-start; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    background-color: yellow;
    height: 700px;
    width: 1800px;
    margin-left: 50px;
    position: relative;
    top: 150px;
}

.box{
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    border: 1px solid black;
    
}


.container2{
    display: flex;
      /* align-items: center; 
       align-items: end;  */
      /* align-items: stretch;   */
      /* align-items: baseline; */

    background-color: yellow;
    height: 700px;
    width: 1800px;
    margin-left: 50px;
    position: relative;
    top: 150px;
}

.container3{
    display: flex;
     /* align-content: stretch; */
     /* align-items: flex-end; */
     align-items: flex-start;
    background-color: yellow;
    height: 700px;
    width: 1800px;
    margin-left: 50px;
    position: relative;
    top: 150px;
}